header{
	text-align: center;
}
footer {
	bottom: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
}

.cell {
	border: 1px solid black;
	float: left;
	height: 13px;
	width: 13px;
}

.alive {
	background-color: black;
}

#board{
	margin: auto;
	height: 450px;
	width: 450px;
}

